# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Cache
npm
yarn
pnpm

# Misc
.DS_Store
Thumbs.db   
.safariextensions

package-lock.json
yarn.lock

# IDEs
.idea


# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
